.modal-header
  button.close(ng-click='cancel()') &times;
  h4.modal-title
  | Запчасть
.modal-body
  form.form-horizontal.part-form(name='part_form', novalidate)

    .form-group
      label.col-md-4.control-label АРТИКУЛ
      .col-md-8
        input.form-control(type='text' ng-model='model.code' required)

    .form-group
      label.col-md-4.control-label НАИМЕНОВАНИЕ НЕМ.
      .col-md-8
        input.form-control(type='text' ng-model='model.name_ger')

    .form-group
      label.col-md-4.control-label НАИМЕНОВАНИЕ РУС.
      .col-md-8
        input.form-control(type='text' ng-model='model.name_rus' required)

    .form-group
      label.col-md-4.control-label КОД ПО ТН ВЭД ТС
      .col-md-8
        input.form-control(type='text' ng-model='model.tn_code')

    .form-group
      label.col-md-4.control-label СТРАНА ПРОИСХОЖДЕНИЯ
      .col-md-8
        input.form-control(type='text' ng-model='model.country' required)

    .form-group
      label.col-md-4.control-label ИЗГОТОВИТЕЛЬ
      .col-md-8
        input.form-control(type='text' ng-model='model.manufacture')

    .form-group
      label.col-md-4.control-label ТОВАРНЫЙ ЗНАК
      .col-md-8
        input.form-control(type='text' ng-model='model.trade_mark')

    .form-group
      label.col-md-4.control-label МОДЕЛЬ
      .col-md-8
        input.form-control(type='text' ng-model='model.model')

    .form-group
      label.col-md-4.control-label ТЕХНИЧЕСКИЙ ПАСПОРТ
      .col-md-8
        input.form-control(type='text' ng-model='model.technical_passport')

    .form-group
      label.col-md-4.control-label Этикетка
      .col-md-8
        input.form-control(type='text' ng-model='model.barcode')

    .form-group
      label.col-md-4.control-label МАРКА
      .col-md-8
        input.form-control(type='text' ng-model='model.mark')

    .form-group
      label.col-md-4.control-label ОПИСАНИЕ
      .col-md-8
        textarea.form-control(ng-model='model.description')

    .form-group
      label.col-md-4.control-label ПРИМЕЧАНИЕ
      .col-md-8
        textarea.form-control(ng-model='model.note')

    .form-group
      label.col-md-4.control-label Изображения
      .col-md-8
        .panel.panel-default(nv-file-drop='', uploader='imageUploader' filters='fileTypeFilter')
          .panel-body(nv-file-over='', uploader='imageUploader')
            p Очередь загрузки: {{ imageUploader.queue.length }}

            .row(ng-repeat='item in imageUploader.queue')
              .col-md-10
                strong(ng-class="{'text-danger': item.isError}") {{ item.file.name }}
                  span(ng-show='imageUploader.isHTML5', nowrap='') ({{ item.file.size/1024/1024|number:2 }} MB)
              .col-md-2.text-danger
                .glyphicon.glyphicon-trash.pull-right(ng-click='item.remove()')

          .panel-footer
            input(type='file', nv-file-select='', uploader='imageUploader', multiple='')

    .form-group
      label.col-md-4.control-label Чертежи
      .col-md-8
        .panel.panel-default(nv-file-drop='', uploader='pdfUploader' filters='fileTypeFilter')
          .panel-body(nv-file-over='', uploader='pdfUploader')
            p Очередь загрузки: {{ pdfUploader.queue.length }}

            .row(ng-repeat='item in pdfUploader.queue')
              .col-md-10
                strong(ng-class="{'text-danger': item.isError}") {{ item.file.name }}
                  span(ng-show='pdfUploader.isHTML5', nowrap='') ({{ item.file.size/1024/1024|number:2 }} MB)
              .col-md-2.text-danger
                .glyphicon.glyphicon-trash.pull-right(ng-click='item.remove()')

          .panel-footer
            input(type='file', nv-file-select='', uploader='pdfUploader', multiple='')

.modal-footer
  button.btn.btn-default(ng-click='cancel()') Отмена
  button.btn.btn-success(ng-click='save(part_form)') Сохранить
