div.navbar.navbar-default.navbar-static-top
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.icon-bar
        span.icon-bar
        span.icon-bar

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      form.navbar-left.navbar-form-search.col-lg-8
          div.form-group
            input.form-control(ng-model='query' ng-change='search()' placeholder="Введите артикул...")    
          button.btn.btn-success(type='submit') 
            Добавить
