navbar

.container
  
  h4.text-center.text-muted.not-found(ng-show='list.length === 0')
    Данные не найдены
    
  part.part(ng-repeat='item in list' data-model='item')
  pagination(boundary-links='true' total-items='totalItems' ng-model='currentPage' class='pagination-sm pull-right' previous-text='‹' next-text='›' first-text='«' last-text='»' ng-if='list.length !== 0')

footer
